*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    overflow: none;
   
}

body {overflow-x: hidden;
    transition: 0.5s;}
/* header-section */

.header-section{
    position: relative;
    margin-top: 0px;
    width: 100vw;
    height: 76px;
    background: #3B3B5E;
    
    padding-top: 25px;
 
}

.header {
   
  
    z-index: 1;
    width: 100vw;
    background: #3B3B5E;
    
   
  }
  .sticky {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 76px;
    
   
  }
 
  
  
.logo{
    color: #fff;
    font-size: larger;
    font-weight: 500;
}
.menu {
    position: relative;
    display: block;
    text-align: right;
    
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    font-size: 14px;
}
.menu a:hover{
   
    text-decoration: none;
    color: rgb(168, 167, 236);
    padding-left: 10px;
    font-size: 14px;
}

/* mobile-nav */
.mobile-nav-wrapper{
    display: none;
    position: fixed;
    width:100vw;
    left: 0;
    right: 0;
  z-index: 1;
    background:linear-gradient(to bottom,transparent,rgb(90, 89, 89));
    height: 100vh;
    transition: top 0.3s;
}
.mobile-nav{
    display: flex;
    flex-flow: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.mobile-nav a{
    font-weight: 600;
    color:rgb(122, 118, 118); 
    text-decoration: none;
    margin: 1rem 0;
    font-size: 20px;
}
#close-btn{
    display: none;
}
.menu-mob {
    position: relative;
    display: block;
    text-align: right;
    color: white;
    font-size: 25px;
    
    
}




/* .header-section */
.hero-section{
   
    display: flex;
    background-color: #ffffff;
    height: 100%;
    justify-content: center;
    background-image: url("/images/vishnu2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    

}
.vector{
    width: 100%;
}
.name{
   font-size: 50px;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    line-height: 90px; 
 
}
.left{
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.left p{
    text-align: center;
}

h5 {
   
    font-weight: 200;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.9em;
    color: #000;
    padding: 0;
    line-height: 0.8em !important;
    text-transform: none;
}

h5 span {
    color: #3B3B5E;
    animation-delay: 2s;
}
.text-sub{
    font-size: 15px;
    color: gray;
}


/* social-media */
.social-media{
  
    background: #e5e5e6;
}
.text-social{
    font-size: small;
    text-align: center;
    color: #3B3B5E;
}
.logos{
    text-align: center;
    padding-top: 1px;
    font-size: 28px;
    padding-bottom: 10px;

}

/* about-section */
.about-section{
    padding-bottom: 20px;
    background:  linear-gradient(rgba(248, 244, 244, 0.404), rgba(255, 255, 255, 0.959)), url("/images/undraw_Resume_re_hkth.png") no-repeat  ;
}



.items{
 
    text-align: center;
    color: #1b1b1b;
  
   
}
.items h3{
    padding-top: 20px;
    font-weight: 800;
    font-size: 24px;
}
.line{
    margin: auto;
    width: 50px;
}
.underline{
   
    position: relative;
    margin: auto;
    height: 3px;
    width: 100%;
    background: #3B3B5E;
}
.underline .underlinetwo{
    position: absolute;
    margin: auto;
    height: 3px;
    width: 50%;
    background: gray;
}
.image-about{
    padding-bottom: 20px;
}
.image-about img{
    width: 100%;
    height:100%;
    border-radius: 2%;
    object-fit: cover;
    border-right: 5px solid #3B3B5E;
    
    
}
.text-post{
    font-size: larger;
    font-weight: 800;
    color: rgb(148, 148, 148);
    text-align: left;
}
.left-sub{
    text-align: left;
    font-size: 15px;
    color: #3B3B5E;
}
.table ul{
    text-align: left;
    font-size: 18px;
    color: #3B3B5E;
    line-height: 40px;
    width: 100vw;
}
/* 
exp-section */

.exp-section{
    padding-top: 20px;
    padding-bottom: 30px;
    background: linear-gradient(rgb(248, 244, 244), rgba(255, 255, 255, 0.384)), url("/images/white-abstract-background_23-2148810113.webp") no-repeat ;
    background-size: auto;
    background-size: cover;
  
}
.exp-section h3{
    font-weight: 800;
}


.exp-card{
    padding-top: 30px;
}
.card-body{
    height: 180px;
}

.card-body h5{
    color: #69696b;
    line-height: 20px;
    padding: 10px;
    font-size: 15px;
}

.card-top{
    margin-top: 0px;
  
   
}
.card{
    box-shadow: 4px 4px 5px 0.5px #1b1b1b25;
    transition: 0.3s;
    
}
.card:hover{
    box-shadow: 4px 4px 5px 0.5px #1b1b1b25;
    transform: scale(1.02);
    border-bottom:4px solid #3B3B5E;
}
.card-subtitle{
    text-align: center;
    font-size: small;
}
.card-text{
    font-size: smaller;
    color: #3B3B5E;
}


/* works */


.works-section{
    padding-top: 20px;
    background-color: #d6d6f138;
    margin: auto;
    padding-bottom: 20px
}
.items-work{
   
    color: #1b1b1b;
    font-weight: 800;
}
.line-work{
  
    width: 50px;
}
.underline-work{
    z-index: 1;
    position: relative;
    height: 3px;
    width: 100%;
    background: #3B3B5E;
}
.underline .underlinetwo-work{
    position: absolute;
    height: 3px;
    width: 50%;
    background: gray;
}
.w3-bar{
    padding: 5px;
}
.w3-bar button{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border: none;
    padding-top: 8px;
    color: #f8f8f8;
    border-radius: 7px;
    background-color: #3B3B5E;
    font-size: 12px;
    transition: 0.10s;
    box-shadow: 1px 2px 7px -1px #1b1b1b83;
}

.w3-bar button:hover{

    border: none;
    padding: 10px;
    color: #f8f8f8;
    border-radius: 5px;
    background-color: #3535b6;
    font-size: small;
    transform: scale(1.03);
  

}
.w3-black{
    text-align: center;
}
.card-work{

    margin-top: 10px;
    margin-bottom: 30px;
}

.card-body-works{
    padding: 10px;
    height: 90px;
}
.card{
    margin-top: 10px;
}

/* contact-section */

.contact-section{
    background: #efeff1;
}
.contact-section .container{
    background: #ddd6f146;
}
.contact-section .items{
   
    font-weight: 800;
}
.top-contact{
 padding-top: 20px;
 padding-bottom: 20px;
}
.txt-Email{
    font-size: 18px;
    font-weight: 800;
}
.contact .address{
    padding-left: 15px;
}
.container{
    position: relative;
}
.btn-submit{
   
    background: #3B3B5E;
    border: none;
    color: white;
    padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-right: 15px;
   
  
}
.btn-submit:hover{

    background: #3B3B5E;
   
    
  
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    border: #3B3B5E;
    box-shadow: none !important;
}




/* footer-section */
.footer-section{
    background:#3B3B5E;
    text-align: center;
    padding: 5px;
  
  
}
.text-foot p{
    padding-top: 10px;
    color: #fff;
    font-size: small;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu{
        display: none;
    }
    .mobile-wrapper{
        display: block
    }
    .menu-mob{
      
        display: block;
        z-index: 1;
        font-size: 30px;
        color: rgb(252, 250, 250);
       
        
        
    }
    .menu-mob .fa-bars{
       padding-right: 20px;
       margin-bottom: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu{
        display: none;
    }
    .mobile-wrapper{
        display: block
    }
    .menu-mob{
      
        display: block;
        z-index: 1;
        font-size: 30px;
        color: rgb(253, 253, 253);
        background: #3B3B5E;
        width: 100vw;
        
    }
    .menu-mob .fa-bars{
       padding-right: 20px;
       margin-bottom: 20px;
    }
    #nav-btn{
        padding-right: 20px;
        margin-bottom: 20px;
    }
    
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu{
        display: block;
    }
    .mobile-wrapper{
        display: none
    }
    .menu-mob{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu{
        display: block;
    }
    .mobile-wrapper{
        display: none;
    }
    .menu-mob{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu{
        display: block;
    }
    .mobile-wrapper{
        display: none;
    }
    .menu-mob{
        display: none;
    }
}